@model IEnumerable<FinalDatLong.Models.Booking>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
           Doctor
        </th>
        <th>
            Patient
        </th>
        <th>
            Status
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datetime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patient.UserName)
        </td>
        <td>
            @if (item.Accept == true)
            {
                <span class="text-success">Accept</span>
            }
            else if (item.Accept == false)
            {
                <span class="text-danger">Refuse</span>
            }
            else
            {
            <span class="text-danger">Pending</span>
            }
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datetime)
        </td>
        <td>
          
            @if (item.Accept != true)
            {
                <a href="@Url.Action("Accept","AcceptBooking", new {Area = "Admin", id = item.IDBooking})" class="btn btn-outline-primary">Accept</a>
            }
            else
            {
                <a href="@Url.Action("Refuse","AcceptBooking", new {Area = "Admin", id = item.IDBooking})" class="btn btn-outline-danger">Refuse</a>
            }
        <a href="@Url.Action("Detail","AcceptBooking", new { id = item.IDBooking })" class="btn btn-outline-warning"> Details</a>
        </td>
    </tr>
}

</table>
