@using PagedList.Mvc;


@model IEnumerable<FinalDatLong.Models.Patient>
@helper Truncate(string s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length)<text>...</text>
    }
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            "Tài Khoản"
        </th>
       
        <th>
            "Họ Và Tên"

        </th>
        <th>
            "Mật Khẩu"
        </th>
        <th>
            "Email"
        </th>
        <th></th>
    </tr>

    @*@foreach (var item in Model)
    {
        <tr>
            <td>
                @Truncate(item.UserName, 50)
            </td>

            <td>
                @Truncate(item.FullName, 50)
            </td>
            <td>
                @Truncate(item.Password, 50)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.IDPatient })" class="btn btn-success"> Edit</a>
                <a href="@Url.Action("Details", new { id = item.IDPatient })" class="btn btn-primary"> Details</a>
                <a href="@Url.Action("Delete", new { id = item.IDPatient })" class="btn btn-danger"> Delete</a>
            </td>
        </tr>
    }*@

</table>
