<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="~/Scripts/popper.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <div class="row">
        @Html.Action("Navbar", "Booking")
    </div>
    <br />
    <div class="row">
        @Html.Action("SlideShow", "Booking")
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        @Html.Action("Card", "Booking")
    </div>

    <div class="row">
        @Html.Action("Contact", "Booking")
    </div>
    <div class="row">
        @Html.Action("Video", "Booking")
    </div>
    @*<div class="row">
        @Html.Action("DoctorProfile", "Booking")
    </div>
    <div class="row">
        @Html.Action("PatientProfile","Booking")
    </div>*@

    <div class="container body-content">

        @RenderBody()
        <hr />

    </div>
    <div class="row">
        @Html.Action("Footer", "Booking")
    </div>


</body>

</html>
