<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

<style>
    .nav-text {
        margin: 10px;
        display: inline-block;
        color: #000000;
    }

        .nav-text:before {
            content: '';
            height: 2px;
            background: #00ff21;
            display: block;
            transition: width 0.3s ease-in-out;
            margin: 0 auto;
        }

        .nav-text:before {
            width: 150%;
        }

        .nav-text:after {
            width: 0;
        }

        .nav-text:hover:before {
            width: 0;
        }

        .nav-text:hover:after {
            width: 100%;
        }




    h3 {
        color: #23A455;
    }

    li {
        margin: 10% 0 0 0
    }

    .btn {
        border: none; /* Remove borders */
        color: white; /* Add a text color */
        padding: 14px 28px; /* Add some padding */
        cursor: pointer; /* Add a pointer cursor on mouse-over */
    }

    .btnHotline {
        border: none; /* Remove borders */
        color: white;
        width: 100%;
        height: 10%;
    }

    .success {
        background-color: #23A455;
    }
        /* Green */
        .success:hover {
            background-color: #b6ff00;
        }

    .modal-dialog.modal-xxl {
        width: 90%; /* Điều chỉnh chiều rộng theo mong muốn */
        max-width: 80%; /* Điều chỉnh chiều rộng tối đa theo mong muốn */
        height: 90vh; /* Điều chỉnh chiều cao theo mong muốn */
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img src="https://images.ctfassets.net/4x7ph7u3e2qj/5Y6W7JeaVCjD0udP6tFcwh/180ea8bfd38ef8f4a9feaf2b777df832/____101_-_hospital-cover.jpg" alt="..." class="img-fluid h-100">
        </div>
        <div class="col-lg-6">
            <br />
            <div class="row">

                <div class="col text-end ">
                    <!-- Nội dung ở giữa, cột 2 -->
                    @*<a href="@Url.Action("DangKy","User")" type="button" class="bi bi-person-circle " style="border-radius:0px"></a>*@
                    <a href="@Url.Action("DangKy","User")" type="button" class="btn btn-outline-success " style="border-radius:0px">Đăng Ký</a>
                    <a href="@Url.Action("DangNhap","User")" type="button" class="btn btn-outline-success" style="border-radius:0px">Đăng Nhập</a>



                </div>

                <br>
            </div>
            <!-- Dòng 2 -->
            <div class="row">
                <div class="col-12">
                    <!-- Nội dung ở giữa, full width -->
                    <ul class="nav nav-inline">
                        <li class="nav-item nav-text"><a class="nav-link text-center" style="color:black" href="~/Booking/Index">Home</a></li>
                        <li class="nav-item nav-text"><a class="nav-link" style="color:black" href="@Url.Action("AboutUs","ALL")">About Us</a></li>
                        <li class="nav-item nav-text"><a class="nav-link" style="color:black" href="@Url.Action("Service","ALL")">Sevrice</a></li>
                        <li class="nav-item nav-text"><a class="nav-link" style="color:black" href="@Url.Action("Question","ALL")">Question</a></li>
                        <li class="nav-item nav-text"><a class="nav-link" style="color:black" href="@Url.Action("Instruction","ALL")">Instruction</a></li>
                        <li class="nav-item nav-text"><a class="nav-link" style="color:black" href="@Url.Action("Contacts","ALL")">Contact</a></li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <a href="https://sonqb.com/media/2021/07/dich-vu-booking-pr-bao-sonqb.jpg" data-bs-toggle="modal" data-bs-target="#myModal">
                <img src="https://sonqb.com/media/2021/07/dich-vu-booking-pr-bao-sonqb.jpg" alt="..." class="img-fluid h-100">
            </a>
        </div>


        @*The Modal*@
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-scrollable modal-xxl">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h3 class="modal-title">Booking doctor</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form id="form1">
                            <div class="row">
                                <div class="col-5">
                                    <h3>Các chuyên khoa</h3>

                                    <a style="text-decoration: none" href="#Dakhoa">
                                        <div class="row" style="color: black; font-size: x-large; padding: 20px 0 7px 0">
                                            <img style="width: 60px; height: 40px " src="https://cdn-healthcare.hellohealthgroup.com/specialties/da-khoa.png" />Đa khoa
                                        </div>
                                    </a>
                                    <a style="text-decoration: none" href="#Nhakhoa">
                                        <div class="row" style="color: black; font-size: x-large; padding: 10px 0 7px 0 ">
                                            <img style="width:60px;height:40px" src="https://cdn-healthcare.hellohealthgroup.com/specialties/nha-khoa.png" />Nha khoa
                                        </div>
                                    </a>
                                    <a style="text-decoration: none" href="#Dalieu">
                                        <div class="row" style="color: black; font-size: x-large; padding: 10px 0 7px 0 ">
                                            <img style="width: 60px; height: 40px " src="https://cdn-healthcare.hellohealthgroup.com/specialties/da-lieu.png" />Da liễu
                                        </div>
                                    </a>
                                    <a style="text-decoration: none" href="#Nhankhoa">
                                        <div class="row" style="color: black; font-size: x-large; padding: 10px 0 7px 0 ">
                                            <img style="width: 60px; height: 40px " src="https://cdn-healthcare.hellohealthgroup.com/2022/03/1648192921_623d6d99099d03.94959451.jpg" />Nhãn khoa
                                        </div>
                                    </a>
                                    <a style="text-decoration: none" href="#Phukhoa">
                                        <div class="row" style="color: black; font-size: x-large; padding: 10px 0 7px 0 ">
                                            <img style="width: 60px; height: 40px " src="https://cdn-healthcare.hellohealthgroup.com/specialties/san-phu-khoa.png" />Phụ khoa
                                        </div>
                                    </a>
                                    <a style="text-decoration: none;" href="#Trilieuthanhkinhcotsong">
                                        <div class="row" style="color: black; font-size: x-large; padding: 10px 0 7px 0">
                                            <img style="width: 60px; height: 40px" src="https://cdn-healthcare.hellohealthgroup.com/2022/01/1643269107_61f24bf31bd9a1.55037235.png" />Trị liệu thần kinh cột sống
                                        </div>
                                    </a>
                                </div>
                                <div class="col-7">
                                    <div class="row">
                                        <h3 class="text-center">ĐẶT LỊCH KHÁM BỆNH</h3>
                                        <div class="row">
                                            <a style=" color: #23A455;">
                                                Bạn muốn đặt hẹn khám cho
                                            </a>
                                            <div class="form-check col">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Người thân
                                                </label>
                                            </div>
                                            <div class="form-check col">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Bản thân
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <a style=" color: #23A455">Họ tên</a>
                                            <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm" />
                                        </div>
                                        <div class="row">
                                            <a style=" color: #23A455">Số điện thoại</a>
                                            <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm" />
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <a style=" color: #23A455">Ngày đặt hẹn</a>
                                                <input class="form-control" type="date" />
                                            </div>
                                            <div class="col">
                                                <a style=" color: #23A455">Thời gian</a>
                                                <input class="form-control" type="time" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <a style=" color: #23A455">
                                                Mô tả triệu chứng/lý do khám
                                            </a>
                                            <textarea name="mo-ta" rows="4" cols="50"></textarea>
                                        </div>
                                        <div class="row">
                                            <div style="text-align:center; margin: 5% 0 0 0">
                                                <button class="btn success" onclick="myFunction()">Đặt lịch hẹn <i class="bi bi-calendar2-week"></i></button>
                                                <p id="demo"></p>
                                                <script>
    function myFunction() {
                                                        var txt;
                                                        if (confirm("Đặt hẹn thành công!")) {
                                                            txt = "You pressed OK!";
                                                        } else {
                                                            txt = "You pressed Cancel!";
                                                        }
                                                        document.getElementById("demo").innerHTML = txt;
                                                    }
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
