<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

<style>
    .nav-text {
        margin: 10px;
        display: inline-block;
        color: #000000;
    }

        .nav-text:before {
            content: '';
            height: 2px;
            background: #00ff21;
            display: block;
            transition: width 0.3s ease-in-out;
            margin: 0 auto;
        }

        .nav-text:before {
            width: 150%;
        }

        .nav-text:after {
            width: 0;
        }

        .nav-text:hover:before {
            width: 0;
        }

        .nav-text:hover:after {
            width: 100%;
        }




    h3 {
        color: #23A455;
    }

    li {
        margin: 10% 0 0 0
    }

    .btn {
        border: none; /* Remove borders */
        color: white; /* Add a text color */
        padding: 14px 28px; /* Add some padding */
        cursor: pointer; /* Add a pointer cursor on mouse-over */
    }

    .btnHotline {
        border: none; /* Remove borders */
        color: white;
        width: 100%;
        height: 10%;
    }

    .success {
        background-color: #23A455;
    }
        /* Green */
        .success:hover {
            background-color: #b6ff00;
        }

    .modal-dialog.modal-xxl {
        width: 90%; /* Điều chỉnh chiều rộng theo mong muốn */
        max-width: 80%; /* Điều chỉnh chiều rộng tối đa theo mong muốn */
        height: 90vh; /* Điều chỉnh chiều cao theo mong muốn */
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img src="https://images.ctfassets.net/4x7ph7u3e2qj/5Y6W7JeaVCjD0udP6tFcwh/180ea8bfd38ef8f4a9feaf2b777df832/____101_-_hospital-cover.jpg" alt="..." class="img-fluid h-100">
        </div>
        <div class="col-lg-6">
            <br />
            <div class="row">

                <div class="col text-end ">
                    <!-- Nội dung ở giữa, cột 2 -->
                    @*<a href="@Url.Action("DangKy","User")" type="button" class="bi bi-person-circle " style="border-radius:0px"></a>*@
                    <a href="@Url.Action("DangKy","User")" type="button" class="btn btn-outline-success " style="border-radius:0px">Đăng Ký</a>
                    <a href="@Url.Action("DangNhap","User")" type="button" class="btn btn-outline-success" style="border-radius:0px">Đăng Nhập</a>



                </div>

                <br>
            </div>
            <!-- Dòng 2 -->
            <div class="row">
                <div class="col-12">
                    <!-- Nội dung ở giữa, full width -->
                    <ul class="nav nav-inline">
                        <li class="nav-item nav-text"><a class="nav-link text-center" style="color:black" href="~/Booking/Index">Home</a></li>
                        <li class="nav-item nav-text"><a class="nav-link" style="color:black" href="@Url.Action("AboutUs","ALL")">About Us</a></li>
                        <li class="nav-item nav-text"><a class="nav-link" style="color:black" href="@Url.Action("Service","ALL")">Sevrice</a></li>
                        <li class="nav-item nav-text"><a class="nav-link" style="color:black" href="@Url.Action("Question","ALL")">Question</a></li>
                        <li class="nav-item nav-text"><a class="nav-link" style="color:black" href="@Url.Action("Instruction","ALL")">Instruction</a></li>
                        <li class="nav-item nav-text"><a class="nav-link" style="color:black" href="@Url.Action("Contacts","ALL")">Contact</a></li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <a href="https://sonqb.com/media/2021/07/dich-vu-booking-pr-bao-sonqb.jpg" data-bs-toggle="modal" data-bs-target="#myModal">
                <img src="https://sonqb.com/media/2021/07/dich-vu-booking-pr-bao-sonqb.jpg" alt="..." class="img-fluid h-100">
            </a>
        </div>


        @*The Modal*@
        <div class="modal fade" id="myModal">
            <div class="modal-dialog modal-dialog-scrollable modal-xxl">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h3 class="modal-title">Booking doctor</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form id="form1">
                            <div class="row">
                                <div class="col-5">
                                    <h3>LƯU Ý:</h3>

                                    <ul>
                                        <li>
                                            Lịch hẹn chỉ có hiệu lực khi Quý khách được xác nhận chính thức từ Bệnh viện thông qua
                                            điện thoại hoặc email.
                                        </li>
                                        <li>
                                            Quý khách sử dụng dịch vụ đặt hẹn trực tuyến, vui lòng đặt hẹn ít nhất 24h trước
                                            khi đến khám.
                                        </li>
                                        <li>
                                            Quý khách vui lòng cung cấp thông tin chính xác để được hỗ trợ nhanh nhất.
                                        </li>
                                        <li>
                                            Trường hợp khẩn cấp hay có triệu chứng nguy hiểm, vui lòng liên hệ trực tiếp cơ sở y tế để
                                            kịp thời xử lý.
                                        </li>
                                    </ul>

                                    <button class="btnHotline success"><i class="bi bi-telephone-plus"></i> Hotline: 1900 555 533</button>
                                </div>
                                <div class="col-7">
                                    <div class="row">
                                        <h3 class="text-center">ĐẶT LỊCH KHÁM BỆNH</h3>
                                        <div class="row">
                                            <a style=" color: #23A455;">
                                                Bạn muốn đặt hẹn khám cho
                                            </a>
                                            <div class="form-check col">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Người thân
                                                </label>
                                            </div>
                                            <div class="form-check col">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                <label class="form-check-label" for="flexRadioDefault1">
                                                    Bản thân
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <a style=" color: #23A455">Họ tên</a>
                                            <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm" />
                                        </div>
                                        <div class="row">
                                            <a style=" color: #23A455">Số điện thoại</a>
                                            <input type="text" class="form-control" aria-describedby="inputGroup-sizing-sm" />
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <a style=" color: #23A455">Ngày đặt hẹn</a>
                                                <input class="form-control" type="date" />
                                            </div>
                                            <div class="col">
                                                <a style=" color: #23A455">Thời gian</a>
                                                <input class="form-control" type="time" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <a style=" color: #23A455">Chọn bệnh viện</a>
                                            <select class="form-select">
                                                <option>Bệnh viện mắt Sài Gòn</option>
                                                <option>Bệnh viện Đa khoa Sài Gòn</option>
                                                <option>Bệnh viện Nhi Đồng</option>
                                                <option>...</option>
                                            </select>
                                        </div>
                                        <div class="row">
                                            <a style=" color: #23A455">Dịch vụ đăng ký</a>
                                            <select class="form-select">
                                                <option> </option>
                                                <option>Điều trị về mắt</option>
                                                <option>Điều trị da liễu</option>
                                                <option>Điều trị xương khớp</option>
                                                <option>...</option>
                                            </select>
                                        </div>
                                        <div class="row">
                                            <a style=" color: #23A455">
                                                Mô tả triệu chứng/lý do khám
                                            </a>
                                            <textarea name="mo-ta" rows="4" cols="50"></textarea>
                                        </div>
                                        <div class="row">
                                            <div style="text-align:center; margin: 5% 0 0 0">
                                                <button class="btn success" onclick="myFunction()">Đặt lịch hẹn <i class="bi bi-calendar2-week"></i></button>

                                                <p id="demo"></p>
                                                <script>
                                                    function myFunction() {
                                                        document.getElementById("form1").reset();
                                                        document.getElementById("demo").innerHTML = "Đặt lịch thành công";

                                                    }
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>


