<link href="~/Content/Site.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<script src="~/Scripts/popper.min.js"></script>
<style>
    .nav-text {
        margin: 10px;
        display: inline-block;
        color: #000000;
    }

        .nav-text:before {
            content: '';
            height: 2px;
            background: #00ff21;
            display: block;
            transition: width 0.3s ease-in-out;
            margin: 0 auto;
        }

        .nav-text:before {
            width: 150%;
        }

        .nav-text:after {
            width: 0;
        }

        .nav-text:hover:before {
            width: 0;
        }

        .nav-text:hover:after {
            width: 100%;
        }




    h3 {
        color: #23A455;
    }

    li {
        margin: 10% 0 0 0
    }

    .btn {
        border: none; /* Remove borders */
        color: white; /* Add a text color */
        padding: 14px 28px; /* Add some padding */
        cursor: pointer; /* Add a pointer cursor on mouse-over */
    }

    .btnHotline {
        border: none; /* Remove borders */
        color: white;
        width: 100%;
        height: 10%;
    }

    .success {
        background-color: #23A455;
    }
        /* Green */
        .success:hover {
            background-color: #b6ff00;
        }

    .modal-dialog.modal-xxl {
        width: 90%; /* Điều chỉnh chiều rộng theo mong muốn */
        max-width: 80%; /* Điều chỉnh chiều rộng tối đa theo mong muốn */
        height: 90vh; /* Điều chỉnh chiều cao theo mong muốn */
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img src="https://images.ctfassets.net/4x7ph7u3e2qj/5Y6W7JeaVCjD0udP6tFcwh/180ea8bfd38ef8f4a9feaf2b777df832/____101_-_hospital-cover.jpg" alt="..." class="img-fluid h-100">
        </div>
        <div class="col-lg-6">
            <br />
            <div class="row">

                <div class="col text-end ">
                    <!-- Nội dung ở giữa, cột 2 -->


                    @if (Session["UserName"] != null)
                    {



                        <a href="@Url.Action("PatientProfile", "Booking")" type="button" class="btn btn-outline-success" style="border-radius:0px">
                            Profile <i class="bi bi-person-badge"></i>
                        </a>

                        <a href="@Url.Action("ViewFeedback","User")" type="button" class="btn btn-outline-success" style="border-radius:0px">
                            View Feedback <i class="bi bi-chat-left-dots-fill"></i>
                        </a>

                        <a href="@Url.Action("Feedback", "User", new { id = ViewBag.IDPatient })" type="button" class="btn btn-outline-success" style="border-radius:0px">
                            Feedback <i class="bi bi-chat-left-dots-fill"></i>
                        </a>

                        <a href="@Url.Action("DangXuat","User")" type="button" class="btn btn-outline-success" style="border-radius:0px">
                            Log out <i class="bi bi-box-arrow-right"></i>
                        </a>


                    }
                    else
                    {

                        @*<div class="btn-group">
                <button type="button" class="btn btn-outline-success" data-bs-toggle="dropdown">
                    Profile
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="@Url.Action("PatientProfile", "Booking")">Profile</a></li>

                </ul>
            </div>*@

                        <a href="@Url.Action("DangKy","User")" type="button" class="btn btn-outline-success" style="border-radius:0px">
                            Register <i class="bi bi-r-square-fill"></i>
                        </a>

                        <a href="@Url.Action("DangNhap","User")" type="button" class="btn btn-outline-success" style="border-radius:0px">
                            Log In <i class="bi bi-box-arrow-in-left"></i>
                        </a>

                    }

                </div>

                <br>
            </div>
            <!-- Dòng 2 -->
            <div class="row">
                <div class="col-12">
                    <!-- Nội dung ở giữa, full width -->
                    <ul class="nav nav-inline">
                        <li class="nav-item nav-text"><a class="nav-link text-center" style="color:black" href="~/Booking/Index">Home</a></li>
                        <li class="nav-item nav-text"><a class="nav-link" style="color:black" href="@Url.Action("AboutUs","ALL")">About Us</a></li>
                        <li class="nav-item nav-text"><a class="nav-link" style="color:black" href="@Url.Action("Service","ALL")">Sevrice</a></li>
                        <li class="nav-item nav-text"><a class="nav-link" style="color:black" href="@Url.Action("Question","ALL")">Question</a></li>
                        <li class="nav-item nav-text"><a class="nav-link" style="color:black" href="@Url.Action("Instruction","ALL")">Instruction</a></li>
                        <li class="nav-item nav-text"><a class="nav-link" style="color:black" href="@Url.Action("Contacts","ALL")">Contact</a></li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <a href="https://sonqb.com/media/2021/07/dich-vu-booking-pr-bao-sonqb.jpg" data-bs-toggle="modal" data-bs-target="#myModal">
                <img src="https://sonqb.com/media/2021/07/dich-vu-booking-pr-bao-sonqb.jpg" alt="..." class="img-fluid h-100">
            </a>
        </div>


        


    </div>
</div>