@model FinalDatLong.Models.Doctor

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Doctor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tài Khoản
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            Mật khẩu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            FullName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
           Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
           Avatar
        </dt>

        <dd>
            <img style="height:200px;width:200px" src="@Model.Avatar" alt=" @Model.FullName">
        </dd>

        <dt>
          Giới Thiệu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Introduction)
        </dd>

        <dt>
            Chuyên Môn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialization)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDDoctor }) |
    @Html.ActionLink("QUAY VỀ TRANG QUẢN LÝ DOCTOR", "Index")

</p>
