
@{@model FinalDatLong.Models.Partient

ViewBag.Title = "DangKy";
Layout = "~/Views/Shared/LayoutNavbar.cshtml";
}



<form action="/User/DangKy" method="post">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <section class="vh-100 bg-image"
             style="background-image: url('https://businance.com/wp-content/uploads/2019/12/2378649-775x400.jpg'); ">
        <div class="mask d-flex align-items-center min-vh-50 gradient-custom-3 ">
            <div class="container min-vh-50">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Create an account</h2>




                                <div class="form-outline mb-4">
                                    <label class="form-label">Tài Khoản</label>
                                    <input type="text" name="UserName" class="form-control form-control-lg" />

                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label">Email</label>
                                    <input type="email" name="Email" class="form-control form-control-lg" />

                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label">Mật Khẩu</label>
                                    <input type="password" name="Password" class="form-control form-control-lg" />

                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label">Nhập Lại Mật Khẩu</label>
                                    <input type="password" name="MatKhauNL" class="form-control form-control-lg" />

                                    @Html.ValidationMessageFor(model => model.MatKhauNL, "", new { @class = "text-danger" })
                                </div>




                                <div class="form-check d-flex justify-content-center mb-5">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                                    <label class="form-check-label" for="form2Example3g">
                                        I agree all <a href="#!" class="text-body"></a>
                                    </label>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit"
                                            class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body">
                                        Register
                                    </button>
                                </div>

                                <p class="text-body text-muted mt-5 mb-0">
                                    Have already an account?

                                    <a href="@Url.Action("DangNhap","User")"
                                       class="btn btn-primary fw-bold text-body"><u>Login here</u></a>

                                </p>
                            </div>

               

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    </form>
